---
import BaseLayouts from "../layouts/BaseLayouts.astro"

const pageTitle = "Pagina de inicio"
---

<BaseLayouts pageTitle={pageTitle}>
	<h1>¡Mi primer proyecto con Astro!</h1>
	<h2>Mi impresionante subtítulo del blog</h2>
</BaseLayouts>