---

---
<style>
    a{
        gap: 1rem;
        margin-top: 2rem;
        padding: 0.5rem 0.5rem;
        color: #4c1d95;
        text-decoration: none;
        font-size: 1.3rem;
        transition: text-decoration 1 ease linear;
        
    }

    a:hover{
        text-decoration-line:underline;
    }
    
</style>
<a href="/">Inicio</a>
<a href="/about">sobre mi</a>
<a href="/blog">Blog</a>